<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% if title %}
        <title>thread_it - {{ title }}</title>
    {% else %}
        <title>thread_it</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header id="main-header">
		<div class="container">

            <a href="{{ url_for('home') }}"><h1>thread_it</h1></a>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
			</ul>
		</div>
	</nav>

<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        </div>
    </main>


</body>
</html>
