
Flask==2.0.1
Flask-Dance==5.0.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
html5lib==1.1
icalendar==4.0.7
idna==3.1
importlib-metadata==4.0.1
install==1.3.4
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
iwlib==1.7.0
jedi==0.18.0
jeepney==0.6.0
Jinja2==3.0.1
keyring==23.0.1
khal==0.10.3
lensfun==0.3.95
LibAppArmor==3.0.1
louis==3.17.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
msgpack==1.0.2
netsnmp-python==1.0a1
oauthlib==3.1.0
ordered-set==4.0.2
packaging==20.9
parso==0.8.2
pep517==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
progress==1.5
prompt-toolkit==3.0.18
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
pycparser==2.20
Pygments==2.9.0
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
PySocks==1.7.1
python-dateutil==2.8.1
python-mpd2==3.0.4
pytz==2021.1
pyxdg==0.27
qtile==0.17.0
Reflector==2021.4.3.10.43.28
requests==2.25.1
requests-oauthlib==1.3.0
resolvelib==0.5.4
retrying==1.3.3
s-tui==1.1.1
SecretStorage==3.3.1
setproctitle==1.2.2
six==1.16.0
SQLAlchemy==1.4.15

tweepy==3.10.0
