body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:#00ced1;
	color:#fff;
}

a{
	text-decoration: none;
	color:#000;
}

a:active{
	color:green;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

.box-1{
	color:#545454;
	font-size:20px;
	width:70%;
	border: 2px #00ced1 solid;
	padding:20px;
	margin:20px 0;
	margin-left:10%;
}

.box-1 a{
    color:black;
    border:1px grey solid;
    background-color:#cbd3ee;
    padding:3px
}

#showcase{
	background-image:url('sample02.jpg');
	background-position:center right;
	min-height:200px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:10 30px;
	font-size:24px;
	margin-top:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:10px;
	margin-top:70px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
